body {
        margin: 0;
}



h1 {
        text-align: center;
        background-color: orange;
        margin: 0;
        padding: 20px;
        color: white;
}

.player-score {
        display: flex;
        flex-wrap: nowrap;
}

#player-score {
        padding-left: 10px;
}
.computer-score {
        display: flex;
        flex-wrap: nowrap;
}

#computer-score {
        padding-left: 10px;
}

#choice-button-content {
        text-align: center;
}

#score {
        padding-left: 30px;
        font-size: 1.5rem;
}

#display-results {
        padding-left: 30px;
        font-size: 1rem;
}

#try-again-button {
        padding-left: 30px;
        padding-top: 10px;
}
